<header class="header">
    <div class="header-menu">
        <span class="menu-title">
            Rule of Thumb.
        </span>
        <nav class="menu">
            <ul class="menu-options">
                <li>
                    <a routerLink="past-trials">Past trials</a>
                </li>
                <li>
                    <a routerLink="how-it-works">How It Works</a>
                </li>
                <li>
                    <a routerLink="login">Login</a>
                </li>
                <li>
                    <a routerLink="signup">Sign up</a>
                </li>
                <li>
                    <a href="">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<section class="hero">
    <div class="container-trial-box">
        <rothumb-header-trial-box></rothumb-header-trial-box>
    </div>
    <div class="overlay-hero">
    </div>
    <img class="hero-image" src="/assets/images/pope-francis.jpg" alt="hero image of the site">
    
</section>