/*.header {
    position: fixed;
    z-index: 2;
}*/
.header-menu {
    background-color: transparent;
    color: var(--foreground-default);
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
    z-index: 5;
}
.burger-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .8);
    display: none;
    line-height: 40px;
    text-align: center;
    position: fixed;
    z-index: 100;
    left: 5px;
    top: 5px;
    color: white;
}
.menu {
    height: inherit;
}
.menu-title {
    font-size: x-large;
}
.menu-options {
    display: flex;
    height: inherit;
    margin: 0;
    padding: 0;  
}
.menu-options li {
    height: inherit;
    list-style: none; 
    margin: 0;
    padding: 0;  
}
.menu-options a {
    height: inherit;
    text-decoration: none;
    color: var(--foreground-default);
    display: flex;
    align-items: center;
    padding: 0 10px;
}
.container-trial-box {
    width: 100%;
    flex: 1;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
    color: var(--foreground-default);
}
.hero {
    height: 600px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    flex-wrap: wrap;
}

.hero-image{
    object-fit: cover;
    width: 100%; 
    height: inherit;
    position: absolute;
    top: 0;
    z-index: -2;
}
.overlay-hero {
    position: absolute; 
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(28,29,29);
    background: linear-gradient(0deg, rgba(249,249,249,0) 0%, rgba(83,84,84,0.32816876750700286) 52%, rgba(28,29,29,0.8160451680672269) 100%);
    z-index: -1;
}

@media screen and (max-width: 1440px){
    .hero {
        height: 800px;
        overflow: hidden;
    }
}
/** Tablet */
@media screen and (max-width: 767px){
    .header {
        height: 50px;
    }
    .burger-button{
        display: block;
    }
    .header-menu {
        display: block;
        height: auto;
        text-align: center;
    }
    .menu {
        position: fixed;
        background-color: rgba(15, 15, 15, .9);
        z-index: 5;
        top: 0;
        left: -100vw;
        width: 100vw;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s;
    }
    .menu.is-active {
        left: 0;
    }
    .menu-title {
        font-size: x-large;
        font-weight: bold;
        padding-top: 15px;
        position: relative;
        top: 5px;
    }
    .menu-options {
        display: block;
    }
    .menu-options li {
        height: 50px;  
    }
    .menu-options a {
        justify-content: center;
    }
    .hero {
        height: 350px;
        overflow: hidden;
    }
    .hero-image{
        height: inherit;
    }
}