<footer class="footer">
    <div class="footer-details">
        <a class="footer-link" routerLink="terms-conditions">Terms and Conditions</a>
        <a class="footer-link" routerLink="privacy-policy">Privacy Policy</a>
        <a class="footer-link" routerLink="contact-us">Contact Us</a>
    </div>
    <div class="footer-social">
        <p class="footer-social-item">
            Follow Us
        </p>
        <a class="footer-social-item footer-social-icon"  href="">
            <i class="fab fa-facebook-square fa-2x" aria-hidden="true"></i>
        </a>
        <a class="footer-social-item" href="">
            <i class="fab fa-twitter fa-2x" aria-hidden="true"></i>
        </a>
        
    </div>
</footer>