<article class="trial-box">
  <div class="trial-box-details">
    <div class="detail-container">
        <small>What's your opinion on</small>
        <h3 class="public-figure-name">Pope Francis?</h3>
        <p class="public-figure-feature-tetxt">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Nostrum corrupti quod repellendus laborum magni. 
            Eveniet quae officia doloremque! Debitis a tempore, voluptate fuga quod deserunt at.
        </p>
        <p class="public-figure-moreinfo">
            <i class="fab fa-wikipedia-w fa-xs" aria-hidden="true"></i>
            <small>
                <a class="thumb-link" href=""> More information</a>
             </small>
        </p>
        <p>What's your verdict?</p>
    </div>
    <div class="results-bar">
      <div class="likes-results-bar">
          <i class="fas fa-thumbs-up"></i>
      </div>
      <div class="dislikes-results-bar">
          <i class="fas fa-thumbs-down"></i>
      </div>
    </div>
  </div>
  <div class="overlay-image"></div>
</article>
