.public-figure {
    width: 490px;
    position: relative;
    z-index: 1;
    height: 550px;
}
.public-figure-image {
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: 2;
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.overlay-image {
    position: absolute; 
    width: 100%; 
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(28,29,29);
    background: linear-gradient(0deg, rgba(28,29,29,1) 0%, rgba(83,84,84,0.32816876750700286) 33%, rgba(249,249,249,0) 100%);
    z-index: 3;
}
.public-figure-details {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 4;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.detail-container {
    display: inherit;
    flex-direction: inherit;
    justify-content: inherit;
    margin: 5% 8% 2% 5%;
    /* 491 552 */
}
.like-status {
    position: absolute;
    color: white;
    left: 0;
    margin-right: 5px;
    padding: 1px 5px;
    background-color: var(--primary-default);
}
.public-figure-name {
    color: var(--foreground-default);
    font-size: 5vw;
    margin: 0%;
    padding: 0%;
}
.public-figure-date{
    margin: 0px 0px 5% 0px;
    color: var(--foreground-default);
}
.public-figure-description{
    margin: 0px 0px 1em 0px;
    color: var(--foreground-default);
    font-size: 1em;
}
.public-figure-buttons {
    display: flex;
    justify-content: flex-start;
    margin: 0px 0px 1em 0px;
}
.check-vote-buttons {
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
}
.like-radio {
    color: white;
    margin-right: 5px;
    padding: 5px;
    background-color: var(--primary-default);
}
.dislike-radio {
    color: white;
    margin-right: 5px;
    padding: 5px;
    background-color: var(--secundary-default);
    transform: scaleX(-1);
}

/* HIDE RADIO */
[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
  /* IMAGE STYLES */
[type=radio] + div {
    cursor: pointer;
}
  /* CHECKED STYLES */
[type=radio]:checked + div {
    outline: 2px solid white;
    color: white;
}
.results-bar {
    width: 100%;
    height: 2em;
    display: flex;
    position: relative;
    color: var(--foreground-default);
    opacity: 0.6;
    font-size: 1.2em;
}
.likes-results-bar {
    border: 0px;
    background-color: var(--primary-default);
    height: 100%;
    width: 64%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.dislikes-results-bar {
    border: 0px;
    background-color: var(--secundary-default);
    height: 100%;
    width: 36%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.bar-vote-results {
    padding: 5px;
    opacity: 1;
}
.bar-vote-results-dislike i {
    transform: scaleX(-1);
}